<p>home works!</p>

<!-- <a href="/page1">Page1</a> -->
<a [routerLink]="['/page1',myid]">Page1</a>
<a [routerLink]="['/page2',myid,myusername]">Page2</a>
<a routerLink="/page3">Page3</a>
<a routerLink="/follower">Follower</a>
<a [routerLink]="['/queryparam',myid]" [queryParams]="myobj">QueryParam</a>
<hr>

<button (click)="onPage1()">Page1</button> 
<button (click)="onPage2()">Page2</button>
<button (click)="onPage3()">Page3</button>
<button (click)="onfollower()">Follower</button>
<button (click)="onQueryParam()">QueryParam</button>
