
<h1 class="myh1"> My First Angular Application </h1>


<!-- <app-student></app-student>
<app-employee></app-employee>

<app-course-component></app-course-component> -->

<!-- <app-stringinterpolation></app-stringinterpolation> -->

<!-- <app-property-binding></app-property-binding> -->

<!-- <app-style-binding></app-style-binding> -->

<!-- <app-class-binding></app-class-binding> -->

<!-- <app-event-binding></app-event-binding> -->

<!-- <app-event-binding2></app-event-binding2> -->
<!-- <app-if-directive></app-if-directive> -->
<!-- <app-for-directive></app-for-directive> -->
<!-- <app-switch-directive></app-switch-directive> -->

<!-- <app-mouse-event></app-mouse-event> -->
<!-- <h1>Parent Component</h1>
<hr> -->
<!-- <app-child1 [parentdata]="msg" ></app-child1> -->

<!-- <app-child1 [parentobj]="obj" ></app-child1> -->

<!-- <app-child1 [parentArrObj]="arrobj" ></app-child1> -->
<!-- <hr> -->
<!-- 
<h1>Parent Comp. Dispaly Data Of Child Comp</h1>

{{ChildDataToParent}} -->

<!-- <h2>First Name {{ChildDataToParentOBJ.fname}}</h2>
<h2>ID {{ChildDataToParentOBJ.id}}</h2>

<ul>
    <li *ngFor="let item of childDataArrOBJ;index as i">
{{i+1}} {{item.fname}} {{item.id}}

    </li>
</ul> -->

<!-- <hr> -->
<!-- <app-child2  (childdata)="ChildDataToParent=$event"></app-child2> -->

<!-- <app-child2  (ChildToparentData)="ChildDataToParentOBJ=$event"></app-child2> -->

<!-- <app-child2  (ChildEvent)="childDataArrOBJ=$event"></app-child2> -->

<!-- <h2>Pipe Topic Start</h2>

<app-pipe></app-pipe> -->

<!-- <app-custompipe></app-custompipe> -->
<app-custom-service></app-custom-service>