

<div class="container">
    <p>tdf-demo works!</p>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-12">
            <form #f="ngForm" (ngSubmit)="OnSubmit(f)">
                {{f.value | json}}

                <div class="form-group">
                    <label for="">Username:: </label>
                    <input type="text" name="username" placeholder="Enter the username" ngModel
                    #username="ngModel" required class="form-control"
                    minlength="4"
                    pattern="sumit"
                    >
                    <div *ngIf="username.touched && !username.valid" class="alert alert-danger"> **Please Enter the Username.

                        <div *ngIf="username.errors.minlength">** Please Enter the minimum length at least {{username.errors.minlength.requiredLength}}
                        </div>

                        <div *ngIf="username.errors.pattern">** Please Enter the Appropriate Pattern
                        </div>

                    </div>                   

                </div>

                <div class="form-group">
                    <label for="">Comment::</label>
                   <textarea ngModel #comment="ngModel"
                   name="comment" placeholder="Enter the comment..." class="form-control" 
                   cols="30" rows="10"
                   required></textarea>
                    <div *ngIf="comment.touched && comment.invalid" class="alert alert-danger">** Please Enter the Comment
                    </div>
                </div>

                <div class="checkbox">
                    <label for="">
                      <input type="checkbox" ngModel name="issubscribed"  #mail="ngModel" required> I Agree All the Terms & Conditions.
                    </label>                            
                  </div>

                  <div class="radio">
                    <label for="con">
                      <input ngModel #contact="ngModel" type="radio" name="con" id="con" value="email" required > Email
                    </label>
                  </div>
                <div class="radio">
                    <label for="con1">
                      <input ngModel #contact="ngModel" type="radio" name="con" id="con1" value="phone" required > Phone
                    </label> 
                  </div>

                  <div class="form-group">
                    <label for="contact">contact Method</label>
                    <select ngModel name="contact" id="contact" class="form-control"  required>
                     <!-- <option *ngFor="let item of contactMethod" [value]="item.id">{{item.name}} </option> -->

                     <option *ngFor="let item of contactMethod" [ngValue]="item">{{item.name}} </option>

                    </select> 
                  </div>

                  <div class="form-group">
                    <label for="myemail">Email Id</label>
                    <input ngModel #email1="ngModel" type="email" name="email1"  id="myemail" class="form-control"                     
                    placeholder="Enter the Email ID...."                 
                    [pattern]="EMAIL_PATTERN"
                    required>                  
                    <div class="alert alert-danger" *ngIf="email1.touched && !email1.valid " >**Please Enter the Email                      
                        <div *ngIf="email1.errors.pattern">
                            ** Please Enter the Appropriate Email ID
                        </div>

                    </div>
                </div>

                <button [disabled]="!f.valid" class="btn btn-success">Submit</button>

            </form>

        </div>
    </div>

</div>
